html, body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	font-size: 20px;
	line-height: 0;
	background-color: #000 !important;
}
.flex-container {
	display: -webkit-flex;
	display: flex;
}
body h1, body h2 , body h3 , body h4 , body p {
	text-align: center;
	color: white;
}
#root {
	width: 100%;
	height: 100%;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-align-items: center;
	align-items: center;
}
.app {
	width: 100%;
	height: 100%;
	-webkit-flex-direction : column;
	flex-direction : column;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-align-items: center;
	align-items: center;
}
.quickparkbig {
	width: 44%;
	height: 20%;
	background-repeat: no-repeat;
	background-size: contain;
}
.login-page {
	-webkit-flex-direction : column;
	flex-direction : column;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-align-items: center;
	align-items: center;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
	border: 3px solid white;
    border-radius: 10px;
    padding: 10px 20px 20px 20px;
}
.login-page .inputURL {
	width: 200px;
    margin-right: 20px;
}
.login-page #isAccessible-check {
	color: white;
	margin : 10px;
}
.parkcar {
	width: 100%;
	height: 100%;
	background-color: #EAEAEA;
	overflow: scroll;
}
.quickpark {
	height: 80px;
	width: 80px;
	display: inline-block;
	background-size: contain;
	margin-right: 20px;
}
.header {
	width: 100%;
	height: 100px;
	position: fixed;
	top :0;
	-webkit-justify-content: space-between;
	justify-content: space-between;
	-webkit-align-items: center;
	align-items: center;
	background-color: #000;
	z-index : 5;
}
.logout {
	width: 120px;
	height: 50px;
	margin-left:20px;
}
.building {
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-align-items: center;
	align-items: center;
}
span.btn.btn-primary , input.btn.btn-primary {
	background-color: #365EBF;
}
.building-title {
	width: 100%;
    padding: 30px 20px 10px 20px;
   	text-align: left;
    border-bottom: 2px solid white;
    color: white;
}
.btn.btn-primary.parkinglot {
	width: 48%;
	height : 120px ;
	font-size : 30px;
	margin : 2px;
	background-color: limegreen;
    border-color: #2e6da4;
    -webkit-transition: background-color 0.75s; 
    transition: background-color 0.75s;
}
.btn.btn-primary.parkinglot:hover {
	background-color: #365EBF;
}
.btn.btn-primary.parkinglot[disabled] , .btn.btn-primary.parkinglot[disabled]:hover {
	background-color: darkgrey;
}
.freespot {
	width: 100%;
	height: 100%;
	background-color: #EAEAEA;
	color: black;
	-webkit-flex-direction : column;
	flex-direction : column;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-align-items: center;
	align-items: center;
	position: relative;
}
#map {
	width: 100%;
	height: 100%;
}
.parkedSpot {
	position: absolute;
    width: 40%;
    bottom: 0;
    background-color: rgba(0,0,0,0.6);
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    padding-bottom: 20px;
    border-radius: 15px;
}
.twobuttons {
	position: absolute;
	top:100px;
	width: 100%;
	height: 40px;
	background-color: rgba(0,0,0,0.8);
	z-index: 3;
}
.twobuttons h3 {
	height : 100%;
	margin: 0;
	padding: 6px 0 0 20px;
}
.buildingcontainer {
	width: 35%;
	height: 100%;
	background-color: #393a3d;
	overflow: scroll;
	padding-top: 10px;
	-webkit-transition: width 0.75s; 
    transition: width 0.75s;
    -moz-box-shadow: inset 0 0 10px #000000;
    -webkit-box-shadow: inset 0 0 10px #000000;
    box-shadow: inset 0 0 10px #000000;
}
.buildingcontainer.closed {
	width: 0%;
}
.map-container {
	width: 100%;
    height: 100%;
    padding: 100px 0 0 0;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
}
.sideButton {
	width: 62px;
    height: 100%;
    background-color: #365EBF;
    -webkit-flex-direction : column;
    flex-direction : column;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
}
.sideButton span {
	width: 75%;
    height: 6px;
    background-color: white;
    border-radius: 2px;
    margin: 3px 0;
}
.parkcar #map {
	width: calc(65% - 62px);
	-webkit-transition: width 0.75s; 
    transition: width 0.75s;
}
.parkcar #map.closed {
	width: 94%;
}
.parkcar .parkedSpot {
	display: none;
	left: 30%;
}
.parkcar .parkedSpot input {
	margin: 10px;
}
.parkcar .parkedSpot.visible {
	display: -webkit-flex;
	display: flex;
}