html, body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	font-size: 20px;
	line-height: 0;
	background-color: #000 !important;
}
.flex-container {
	display: -webkit-flex;
	display: flex;
}
body h1, body h2 , body h3 , body h4 , body p {
	text-align: center;
	color: white;
}
#root {
	width: 100%;
	height: 100%;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-align-items: center;
	align-items: center;
}
.app {
	width: 100%;
	height: 100%;
	-webkit-flex-direction : column;
	flex-direction : column;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-align-items: center;
	align-items: center;
}
.quickparkbig {
	width: 44%;
	height: 20%;
	background-repeat: no-repeat;
	background-size: contain;
}
.login-page {
	-webkit-flex-direction : column;
	flex-direction : column;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-align-items: center;
	align-items: center;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
	border: 3px solid white;
    border-radius: 10px;
    padding: 10px 20px 20px 20px;
}
.login-page .inputURL {
	width: 200px;
    margin-right: 20px;
}
.login-page #isAccessible-check {
	color: white;
	margin : 10px;
}
.parkcar {
	width: 100%;
	height: 100%;
	background-color: #EAEAEA;
	overflow: scroll;
}
.quickpark {
	height: 80px;
	width: 80px;
	display: inline-block;
	background-size: contain;
	margin-right: 20px;
}
.header {
	width: 100%;
	height: 100px;
	position: fixed;
	top :0;
	-webkit-justify-content: space-between;
	justify-content: space-between;
	-webkit-align-items: center;
	align-items: center;
	background-color: #000;
	z-index : 5;
}
.logout {
	width: 120px;
	height: 50px;
	margin-left:20px;
}
.building-title {
	width: 100%;
	padding: 20px 0 20px 20px;
	background-color: rgba(0,0,0,0.7);
	text-align: left;
}
.building {
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-align-items: center;
	align-items: center;
}
.building.b1 {
	margin-top: 140px;
}
span.btn.btn-primary , input.btn.btn-primary {
	background-color: #365EBF;
}
.btn.btn-primary.parkinglot {
	width: 250px;
	height : 150px ;
	font-size : 30px;
	margin : 20px;
	background-color: limegreen;
    border-color: #2e6da4;
    -webkit-transition: transform 0.75s; 
    transition: transform 0.75s;
}
.btn.btn-primary.parkinglot:hover {
	transform : scale(1.1);
}
.btn.btn-primary.parkinglot[disabled] {
	background-color: darkgrey;
}
.freespot {
	width: 100%;
	height: 100%;
	background-color: #EAEAEA;
	color: black;
	-webkit-flex-direction : column;
	flex-direction : column;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-align-items: center;
	align-items: center;
	position: relative;
}
.freespot #map {
	width: 100%;
	height: 100%;
}
.parkedSpot {
	position: absolute;
    width: 40%;
    bottom: 0;
    background-color: rgba(0,0,0,0.6);
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    padding-bottom: 20px;
    border-radius: 15px;
}
.twobuttons {
	position: absolute;
	top:100px;
	width: 100%;
	height: 40px;
	-webkit-align-items: center;
	align-items: center;
	background-color: rgba(0,0,0,0.8);
	z-index: 3;
}
.twobuttons h3 {
	width: 80%;
	text-align: left;
	padding-left: 20px;
}
.btn.togglebutton {
	width: 12%;
	height: 40px;
	border-radius: 0px;
	padding-top: 10px;
	font-size: 16px;
}
.btn.togglebutton.selected {
	border:0;
	-moz-box-shadow:    inset 0 0 10px #000000;
   -webkit-box-shadow: inset 0 0 10px #000000;
   box-shadow:         inset 0 0 10px #000000;
   opacity: 0.8;
}
.buildingcontainer {
	width: 100%;
	height: 100%;
	background-color: #EAEAEA;
	overflow: scroll;
	display:none;
	padding-top: 130px;
}
.mapcontainer {
	margin-top: 95px;
	width: 100%;
	height: 100%;
	z-index:1;
}