html, body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	font-size: 20px;
	line-height: 0;
	background-color: #dddfd4 !important;
}
.flex-container {
	display: -webkit-flex;
	display: flex;
}
body h1, body h2 , body h3 , body h4 {
	text-align: center;
}
.appContainer {
	text-align: center;
}
div.disappear {
	text-align: center;
	margin: 20px; 
}
div.appear {
	text-align: center;
	margin: 5px; 
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-align-items: center;
	align-items: center;
}
.timerh3 {
	display: none;
	margin: 0 0 0 20px;
	line-height: 1;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding: 0px 5px;
}
.timerh3.red {
	color : red;
}
.btn.reset-btn {
	display: none;
}
.pause-btn {
	display: none;
	width: 40px;
    height: 38px;
    padding: 6px 0 6px 0;
    background-color: #337ab7;
    border-color: #2e6da4;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-align-items: center;
	align-items: center;
	border-radius: 5px;
	border: 1px solid transparent;
	position: relative;
	left: -2px;
}
.pause-btn:hover {
	background-color: #286090;
    border-color: #204d74;
}
.icon-pause {
	background-color: white;
    height: 23px;
    width: 6px;
    display: inline-block;
}
.pause1 {
    margin-right: 3px;
}
.pause2 {
    margin-left: 3px;
}
.pause-btn.resume .pause1{
	width: 0;
    height: 0;
    background-color: transparent;
    border-left: 22px solid white;
    border-top: 11px solid transparent;
    border-bottom: 11px solid transparent;
    margin: 0px; 
}
.pause-btn.resume .pause2{
	width: 0;
    height: 0;
    border: 0;
    margin: 0;
}
.inputURL {
	width: 40%;
    margin-right: 20px;
}
.image-item {
	width: 266px;
    height: 200px;
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 10px;
    cursor: pointer;
    -webkit-transition: transform 1s;
	-moz-transition: transform 1s;
	transition: transform 1s;
}
.image-item:hover {
	transform: scale(1.05);
}
.game-area-container.flex-container {
	width: 100%;
	height: auto;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-align-items: center;
	align-items: center;
}
div.game-area {
	width : 0px;
	height : auto;
	padding: 0px;
	position: relative;
	background-color: #dddfd4;
	border: 2px solid #000000;
}
.game-tile {
	text-align: center;
	color: white;
	display: inline-block;
	position: absolute;
	background-color: blue;
	border-radius: 5px;
	border: thin solid black;
	line-height: 0;
}
.game-area.ready .game-tile.left, .game-area.ready .game-tile.right,
.game-area.ready .game-tile.top, .game-area.ready .game-tile.bottom {
	border: thin solid red;
	cursor: pointer;
}
.game-area.not-ready .game-tile {
	-webkit-transition: left 0.02s, top 0.02s;
	-moz-transition: left 0.02s, top 0.02s;
	transition: left 0.02s, top 0.02s;
}
.game-area.ready .game-tile {
	-webkit-transition: left 0.25s, top 0.25s;
	-moz-transition: left 0.25s, top 0.25s;
	transition: left 0.25s, top 0.25s;
}
.game-tile.empty {
	display: inline-block;
	position: absolute;
	width: 0px;
	height: 0px;
	border: 0px;
	line-height: 0;
}
.game-banner {
	width: 100%;
	height: 50%;
	top: 25%;
	text-align: center;
	color: white;
	text-shadow: 1px 1px 1px #000000;
	position: absolute;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-align-items: center;
	align-items: center;
}
.win {
	background-color: limegreen;
}
.lose {
	background-color: tomato;
}
.shuffle {
	background-color: rgba(0,0,0,0.5);
}